/**
 * @file
 * Styling for HFCC Catalog
 */

.field-type-program-sequence {
  max-width: 1024px;
}

.field-type-program-sequence th {
  font-weight: bold;
}

.field-type-program-sequence th.hours {
  padding-left: 1em;
  padding-right: 0;
}

.field-type-program-sequence td {
  padding-bottom: 0.25em;
  padding-top: 0.25em;
  vertical-align: top;
}

.field-type-program-sequence .term-title {
  font-size: 1.1em;
  font-weight: bold;
  padding: 0.5em 0;
}

.field-type-program-sequence .course-name {
  padding-right: 1em;
  white-space: nowrap;
}

.field-type-program-sequence .course-title {
  padding-right: 1em;
  width: 55%;
}

.field-type-program-sequence .course-prerequisites {
  width: 45%;
}

.field-type-program-sequence .hours {
  text-align: right;
}

.field-type-program-sequence .term-total-hours-label,
.field-type-program-sequence .term-total-hours,
.field-type-program-sequence .prog-total-hours-label,
.field-type-program-sequence .prog-total-hours {
  font-weight: bold;
  padding: 0.25em 0;
  text-align: right;
}
