/**
 * Catalog Helper styling.
 */

#hfcc-catalog-helper-ccform > div > fieldset,
#hfcc-catalog-helper-cmform > div > fieldset,
#hfcc-catalog-helper-hank-form > div > fieldset {
  border: 1px solid #777;
  display: inline-block;
  padding: 1em;
  vertical-align: top;
  width: 49%;
}

#hfcc-catalog-helper-ccform > div > fieldset > legend,
#hfcc-catalog-helper-cmform > div > fieldset > legend,
#hfcc-catalog-helper-hank-form > div > fieldset > legend {
  font-weight: bold;
  padding: 0 0.5em;
}

.catalog-helper-hank-mismatch td {
  border-bottom: 1px solid #aaa;
  vertical-align: top;
}

.catalog-helper-hank-mismatch h3 {
  line-height: normal;
  margin: 0;
}

@media print {

  #hfcc-catalog-helper-admin-form .form-item-comparison,
  #hfcc-catalog-helper-admin-form .form-submit {
    display: none;
  }

  #hfcc-catalog-helper-admin-form table {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    line-height: normal;
    width: 100%;
  }

  #hfcc-catalog-helper-admin-form tr.even,
  #hfcc-catalog-helper-admin-form tr.odd {
    page-break-inside: avoid;
  }

  #hfcc-catalog-helper-admin-form tr.even td,
  #hfcc-catalog-helper-admin-form tr.odd td {
    padding: 3px 5px 3px 0;
  }


}
